<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.bank.BankNodeAddressMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.bank.BankNodeAddress">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="BRANCH_NO" jdbcType="VARCHAR" property="branchNo" />
    <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
    <result column="BRANCH_ADDRESS" jdbcType="VARCHAR" property="branchAddress" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CITY_NAME, BRANCH_NO, BRANCH_NAME, BRANCH_ADDRESS, CREATE_TIME, UPDATE_TIME, 
    CREATED_BY, UPDATED_BY
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.bank.BankNodeAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from BANK_NODE_ADDRESS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BANK_NODE_ADDRESS
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BANK_NODE_ADDRESS
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.bank.BankNodeAddressExample">
    delete from BANK_NODE_ADDRESS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.bank.BankNodeAddress">
    insert into BANK_NODE_ADDRESS (ID, CITY_NAME, BRANCH_NO, 
      BRANCH_NAME, BRANCH_ADDRESS, CREATE_TIME, 
      UPDATE_TIME, CREATED_BY, UPDATED_BY
      )
    values (#{id,jdbcType=NUMERIC}, #{cityName,jdbcType=VARCHAR}, #{branchNo,jdbcType=VARCHAR},
      #{branchName,jdbcType=VARCHAR}, #{branchAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.bank.BankNodeAddress">
    insert into BANK_NODE_ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
      <if test="branchNo != null">
        BRANCH_NO,
      </if>
      <if test="branchName != null">
        BRANCH_NAME,
      </if>
      <if test="branchAddress != null">
        BRANCH_ADDRESS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="branchNo != null">
        #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchAddress != null">
        #{branchAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.bank.BankNodeAddressExample" resultType="java.lang.Long">
    select count(*) from BANK_NODE_ADDRESS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BANK_NODE_ADDRESS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.cityName != null">
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.branchNo != null">
        BRANCH_NO = #{record.branchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null">
        BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.branchAddress != null">
        BRANCH_ADDRESS = #{record.branchAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BANK_NODE_ADDRESS
    set ID = #{record.id,jdbcType=NUMERIC},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      BRANCH_NO = #{record.branchNo,jdbcType=VARCHAR},
      BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      BRANCH_ADDRESS = #{record.branchAddress,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.bank.BankNodeAddress">
    update BANK_NODE_ADDRESS
    <set>
      <if test="cityName != null">
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="branchNo != null">
        BRANCH_NO = #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchAddress != null">
        BRANCH_ADDRESS = #{branchAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.bank.BankNodeAddress">
    update BANK_NODE_ADDRESS
    set CITY_NAME = #{cityName,jdbcType=VARCHAR},
      BRANCH_NO = #{branchNo,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      BRANCH_ADDRESS = #{branchAddress,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>