<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.refundErrorLog.RefundErrorLogDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDO">
    <id column="REFUND_ERROR_LOG_ID" jdbcType="DECIMAL" property="refundErrorLogId" />
    <result column="CUST_NO" jdbcType="DECIMAL" property="custNo" />
    <result column="REFUND_SERIAL" jdbcType="DECIMAL" property="refundSerial" />
    <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REFUND_ERROR_LOG_ID, CUST_NO, REFUND_SERIAL, ORDER_SN, STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OMS_REFUND_ERROR_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OMS_REFUND_ERROR_LOG
    where REFUND_ERROR_LOG_ID = #{refundErrorLogId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OMS_REFUND_ERROR_LOG
    where REFUND_ERROR_LOG_ID = #{refundErrorLogId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDOExample">
    delete from OMS_REFUND_ERROR_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDO">
    insert into OMS_REFUND_ERROR_LOG (REFUND_ERROR_LOG_ID, CUST_NO, REFUND_SERIAL, 
      ORDER_SN, STATUS, CREATE_TIME, 
      UPDATE_TIME)
    values (#{refundErrorLogId,jdbcType=DECIMAL}, #{custNo,jdbcType=DECIMAL}, #{refundSerial,jdbcType=DECIMAL}, 
      #{orderSn,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDO">
    insert into OMS_REFUND_ERROR_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="refundErrorLogId != null">
        REFUND_ERROR_LOG_ID,
      </if>
      <if test="custNo != null">
        CUST_NO,
      </if>
      <if test="refundSerial != null">
        REFUND_SERIAL,
      </if>
      <if test="orderSn != null">
        ORDER_SN,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="refundErrorLogId != null">
        #{refundErrorLogId,jdbcType=DECIMAL},
      </if>
      <if test="custNo != null">
        #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="refundSerial != null">
        #{refundSerial,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDOExample" resultType="java.lang.Long">
    select count(*) from OMS_REFUND_ERROR_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OMS_REFUND_ERROR_LOG
    <set>
      <if test="record.refundErrorLogId != null">
        REFUND_ERROR_LOG_ID = #{record.refundErrorLogId,jdbcType=DECIMAL},
      </if>
      <if test="record.custNo != null">
        CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      </if>
      <if test="record.refundSerial != null">
        REFUND_SERIAL = #{record.refundSerial,jdbcType=DECIMAL},
      </if>
      <if test="record.orderSn != null">
        ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OMS_REFUND_ERROR_LOG
    set REFUND_ERROR_LOG_ID = #{record.refundErrorLogId,jdbcType=DECIMAL},
      CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      REFUND_SERIAL = #{record.refundSerial,jdbcType=DECIMAL},
      ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDO">
    update OMS_REFUND_ERROR_LOG
    <set>
      <if test="custNo != null">
        CUST_NO = #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="refundSerial != null">
        REFUND_SERIAL = #{refundSerial,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where REFUND_ERROR_LOG_ID = #{refundErrorLogId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.refundErrorLog.RefundErrorLogDO">
    update OMS_REFUND_ERROR_LOG
    set CUST_NO = #{custNo,jdbcType=DECIMAL},
      REFUND_SERIAL = #{refundSerial,jdbcType=DECIMAL},
      ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where REFUND_ERROR_LOG_ID = #{refundErrorLogId,jdbcType=DECIMAL}
  </update>
</mapper>