<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.cmsuser.CmsAdminRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.user.UmsAdminRoleRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, admin_id, role_id,create_time,created_by,updated_by,update_time
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelation" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_admin_role_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_admin_role_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_admin_role_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelationExample">
    delete from cms_admin_role_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByAdminId" parameterType="java.lang.Long">
    delete from cms_admin_role_relation where admin_id = #{adminId}
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelation">
    insert into cms_admin_role_relation (id,admin_id, role_id,create_time,update_time,created_by ,updated_by)
    values (#{id,jdbcType=BIGINT},#{adminId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT},
    #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{createdBy,jdbcType=VARCHAR},#{updatedBy,jdbcType=VARCHAR}
    )
  </insert>



  <insert id="insertSelective" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelation">
    insert into cms_admin_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      mall_login_seq.Nextval,
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelationExample" resultType="java.lang.Long">
    select count(*) from cms_admin_role_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_admin_role_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=BIGINT},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_admin_role_relation
    set id = #{record.id,jdbcType=BIGINT},
      admin_id = #{record.adminId,jdbcType=BIGINT},
      role_id = #{record.roleId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelation">
    update cms_admin_role_relation
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.user.UmsAdminRoleRelation">
    update cms_admin_role_relation
    set admin_id = #{adminId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT},
       update_time = #{updateTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--批量新增回写主键支持-->
  <insert id="insertList">
    INSERT INTO cms_admin_role_relation (id,admin_id, role_id) VALUES
    <foreach collection="list" separator="," item="item" index="index">
      (#{id},#{item.adminId,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <select id="getRoleList" resultMap="com.qdbank.mall.mapper.role.RoleDOMapper.BaseResultMap">
        select r.*
        from cms_admin_role_relation ar , ums_role r
        where ar.admin_id = #{adminId} and ar.role_id = r.id
    </select>
  <select id="getResourceList" resultType="com.qdbank.mall.model.user.UmsResourceDO">
        SELECT
            ur.id id,
            ur.create_time createTime,
            ur.resource_name resourceName,
            ur.resource_url resourceUrl,
            ur.resource_description resourceDescription,
            ur.category_id categoryId
        FROM
            cms_admin_role_relation ar
        LEFT JOIN cms_role r ON ar.role_id = r.id
        LEFT JOIN cms_role_resource_relation rrr ON r.id = rrr.role_id
        LEFT JOIN cms_resource ur ON ur.id = rrr.resource_id
        WHERE
            ar.admin_id = #{adminId}
        AND ur.id IS NOT NULL
    </select>
  <select id="getAdminIdList" resultType="java.lang.Long">
        SELECT
            DISTINCT ar.admin_id
        FROM
            cms_role_resource_relation rr
                LEFT JOIN cms_admin_role_relation ar ON rr.role_id = ar.role_id
        WHERE rr.resource_id=#{resourceId}
    </select>
</mapper>