<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.trade.TradeDetailDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.trade.TradeDetailDO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRODUCT_SKU_ID" jdbcType="VARCHAR" property="productSkuId" />
    <result column="PRODUCT_PRICE" jdbcType="VARCHAR" property="productPrice" />
    <result column="ORDER_CASH" jdbcType="VARCHAR" property="orderCash" />
    <result column="ORDER_INTEGRATION" jdbcType="VARCHAR" property="orderIntegration" />
    <result column="FREIGHT_AMOUNT" jdbcType="VARCHAR" property="freightAmount" />
    <result column="COUPON_TYPE" jdbcType="VARCHAR" property="couponType" />
    <result column="INTEGRATION_COUPON_AMOUNT" jdbcType="VARCHAR" property="integrationCouponAmount" />
    <result column="PRODUCT_COUPON_AMOUNT" jdbcType="VARCHAR" property="productCouponAmount" />
    <result column="INTEGRATION_PAY_FLAG" jdbcType="VARCHAR" property="integrationPayFlag" />
    <result column="PAYMENT_TIME" jdbcType="VARCHAR" property="paymentTime" />
    <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo" />
    <result column="ORDER_TYPE" jdbcType="VARCHAR" property="orderType" />
    <result column="CASH_FREIGHT_AMOUNT" jdbcType="VARCHAR" property="cashFreightAmount" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DISCOUNT_AMOUNT" jdbcType="DECIMAL" property="discountAmount"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORDER_ID, MERCHANT_NO, MERCHANT_NAME, ORDER_SN, PRODUCT_ID, PRODUCT_SKU_ID, PRODUCT_PRICE, 
    ORDER_CASH, ORDER_INTEGRATION, FREIGHT_AMOUNT, COUPON_TYPE, INTEGRATION_COUPON_AMOUNT, 
    PRODUCT_COUPON_AMOUNT, INTEGRATION_PAY_FLAG, PAYMENT_TIME, BATCH_NO, ORDER_TYPE, 
    CASH_FREIGHT_AMOUNT, CREATE_TIME,DISCOUNT_AMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.trade.TradeDetailDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from TRADE_DETAIL_REPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TRADE_DETAIL_REPORT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TRADE_DETAIL_REPORT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.trade.TradeDetailDOExample">
    delete from TRADE_DETAIL_REPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.trade.TradeDetailDO">
    insert into TRADE_DETAIL_REPORT (ID, ORDER_ID, MERCHANT_NO, 
      MERCHANT_NAME, ORDER_SN, PRODUCT_ID, 
      PRODUCT_SKU_ID, PRODUCT_PRICE, ORDER_CASH, 
      ORDER_INTEGRATION, FREIGHT_AMOUNT, COUPON_TYPE, 
      INTEGRATION_COUPON_AMOUNT, PRODUCT_COUPON_AMOUNT, 
      INTEGRATION_PAY_FLAG, PAYMENT_TIME, BATCH_NO, 
      ORDER_TYPE, CASH_FREIGHT_AMOUNT, CREATE_TIME,DISCOUNT_AMOUNT
      )
    values (#{id,jdbcType=DECIMAL}, #{orderId,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{orderSn,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{productSkuId,jdbcType=VARCHAR}, #{productPrice,jdbcType=VARCHAR}, #{orderCash,jdbcType=VARCHAR}, 
      #{orderIntegration,jdbcType=VARCHAR}, #{freightAmount,jdbcType=VARCHAR}, #{couponType,jdbcType=VARCHAR}, 
      #{integrationCouponAmount,jdbcType=VARCHAR}, #{productCouponAmount,jdbcType=VARCHAR}, 
      #{integrationPayFlag,jdbcType=VARCHAR}, #{paymentTime,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=VARCHAR}, #{cashFreightAmount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{discountAmount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.trade.TradeDetailDO">
    insert into TRADE_DETAIL_REPORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME,
      </if>
      <if test="orderSn != null">
        ORDER_SN,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="productSkuId != null">
        PRODUCT_SKU_ID,
      </if>
      <if test="productPrice != null">
        PRODUCT_PRICE,
      </if>
      <if test="orderCash != null">
        ORDER_CASH,
      </if>
      <if test="orderIntegration != null">
        ORDER_INTEGRATION,
      </if>
      <if test="freightAmount != null">
        FREIGHT_AMOUNT,
      </if>
      <if test="couponType != null">
        COUPON_TYPE,
      </if>
      <if test="integrationCouponAmount != null">
        INTEGRATION_COUPON_AMOUNT,
      </if>
      <if test="productCouponAmount != null">
        PRODUCT_COUPON_AMOUNT,
      </if>
      <if test="integrationPayFlag != null">
        INTEGRATION_PAY_FLAG,
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME,
      </if>
      <if test="batchNo != null">
        BATCH_NO,
      </if>
      <if test="orderType != null">
        ORDER_TYPE,
      </if>
      <if test="cashFreightAmount != null">
        CASH_FREIGHT_AMOUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productSkuId != null">
        #{productSkuId,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="orderCash != null">
        #{orderCash,jdbcType=VARCHAR},
      </if>
      <if test="orderIntegration != null">
        #{orderIntegration,jdbcType=VARCHAR},
      </if>
      <if test="freightAmount != null">
        #{freightAmount,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="integrationCouponAmount != null">
        #{integrationCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="productCouponAmount != null">
        #{productCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="integrationPayFlag != null">
        #{integrationPayFlag,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="cashFreightAmount != null">
        #{cashFreightAmount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.trade.TradeDetailDOExample" resultType="java.lang.Long">
    select count(*) from TRADE_DETAIL_REPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TRADE_DETAIL_REPORT
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantNo != null">
        MERCHANT_NO = #{record.merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantName != null">
        MERCHANT_NAME = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSn != null">
        ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.productSkuId != null">
        PRODUCT_SKU_ID = #{record.productSkuId,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null">
        PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCash != null">
        ORDER_CASH = #{record.orderCash,jdbcType=VARCHAR},
      </if>
      <if test="record.orderIntegration != null">
        ORDER_INTEGRATION = #{record.orderIntegration,jdbcType=VARCHAR},
      </if>
      <if test="record.freightAmount != null">
        FREIGHT_AMOUNT = #{record.freightAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.couponType != null">
        COUPON_TYPE = #{record.couponType,jdbcType=VARCHAR},
      </if>
      <if test="record.integrationCouponAmount != null">
        INTEGRATION_COUPON_AMOUNT = #{record.integrationCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.productCouponAmount != null">
        PRODUCT_COUPON_AMOUNT = #{record.productCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.integrationPayFlag != null">
        INTEGRATION_PAY_FLAG = #{record.integrationPayFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentTime != null">
        PAYMENT_TIME = #{record.paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNo != null">
        BATCH_NO = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null">
        ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.cashFreightAmount != null">
        CASH_FREIGHT_AMOUNT = #{record.cashFreightAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TRADE_DETAIL_REPORT
    set ID = #{record.id,jdbcType=DECIMAL},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      MERCHANT_NO = #{record.merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{record.merchantName,jdbcType=VARCHAR},
      ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRODUCT_SKU_ID = #{record.productSkuId,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{record.productPrice,jdbcType=VARCHAR},
      ORDER_CASH = #{record.orderCash,jdbcType=VARCHAR},
      ORDER_INTEGRATION = #{record.orderIntegration,jdbcType=VARCHAR},
      FREIGHT_AMOUNT = #{record.freightAmount,jdbcType=VARCHAR},
      COUPON_TYPE = #{record.couponType,jdbcType=VARCHAR},
      INTEGRATION_COUPON_AMOUNT = #{record.integrationCouponAmount,jdbcType=VARCHAR},
      PRODUCT_COUPON_AMOUNT = #{record.productCouponAmount,jdbcType=VARCHAR},
      INTEGRATION_PAY_FLAG = #{record.integrationPayFlag,jdbcType=VARCHAR},
      PAYMENT_TIME = #{record.paymentTime,jdbcType=VARCHAR},
      BATCH_NO = #{record.batchNo,jdbcType=VARCHAR},
      ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      CASH_FREIGHT_AMOUNT = #{record.cashFreightAmount,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.trade.TradeDetailDO">
    update TRADE_DETAIL_REPORT
    <set>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productSkuId != null">
        PRODUCT_SKU_ID = #{productSkuId,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        PRODUCT_PRICE = #{productPrice,jdbcType=VARCHAR},
      </if>
      <if test="orderCash != null">
        ORDER_CASH = #{orderCash,jdbcType=VARCHAR},
      </if>
      <if test="orderIntegration != null">
        ORDER_INTEGRATION = #{orderIntegration,jdbcType=VARCHAR},
      </if>
      <if test="freightAmount != null">
        FREIGHT_AMOUNT = #{freightAmount,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="integrationCouponAmount != null">
        INTEGRATION_COUPON_AMOUNT = #{integrationCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="productCouponAmount != null">
        PRODUCT_COUPON_AMOUNT = #{productCouponAmount,jdbcType=VARCHAR},
      </if>
      <if test="integrationPayFlag != null">
        INTEGRATION_PAY_FLAG = #{integrationPayFlag,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME = #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="cashFreightAmount != null">
        CASH_FREIGHT_AMOUNT = #{cashFreightAmount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.trade.TradeDetailDO">
    update TRADE_DETAIL_REPORT
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRODUCT_SKU_ID = #{productSkuId,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{productPrice,jdbcType=VARCHAR},
      ORDER_CASH = #{orderCash,jdbcType=VARCHAR},
      ORDER_INTEGRATION = #{orderIntegration,jdbcType=VARCHAR},
      FREIGHT_AMOUNT = #{freightAmount,jdbcType=VARCHAR},
      COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      INTEGRATION_COUPON_AMOUNT = #{integrationCouponAmount,jdbcType=VARCHAR},
      PRODUCT_COUPON_AMOUNT = #{productCouponAmount,jdbcType=VARCHAR},
      INTEGRATION_PAY_FLAG = #{integrationPayFlag,jdbcType=VARCHAR},
      PAYMENT_TIME = #{paymentTime,jdbcType=VARCHAR},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      CASH_FREIGHT_AMOUNT = #{cashFreightAmount,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectTradeDetailResult" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO" resultMap="BaseResultMap">
    select
     *
    from
    TRADE_DETAIL_REPORT
    where
    PAYMENT_TIME &gt;= to_char(#{startDate,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss')
    and
    PAYMENT_TIME &lt; to_char(#{endDate,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss')
    <if test="merchantNo != null">
      and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
    </if>
  </select>
  <delete id="deleteByCreateTime" parameterType="java.util.Date">
    delete  from  TRADE_DETAIL_REPORT
    where trunc(CREATE_TIME) = trunc(#{createTime,jdbcType=TIMESTAMP})
  </delete>
</mapper>