<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.rechargeMobileFlow.RechargeMobileFlowDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDO">
    <id column="RECHARGE_MOBILE_FOLW_ID" jdbcType="DECIMAL" property="rechargeMobileFolwId" />
    <result column="CUST_NO" jdbcType="DECIMAL" property="custNo" />
    <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
    <result column="RECHARGE_ACCT_NO" jdbcType="VARCHAR" property="mobile" />
    <result column="SKU_ID" jdbcType="DECIMAL" property="skuId" />
    <result column="WX_ORDER_ID" jdbcType="VARCHAR" property="wxOrderId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="RECHARGE_REMARK" jdbcType="VARCHAR" property="rechargeRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECHARGE_MOBILE_FOLW_ID, CUST_NO, ORDER_SN, RECHARGE_ACCT_NO, SKU_ID, WX_ORDER_ID, STATUS,
    CREATE_TIME, UPDATE_TIME, RECHARGE_REMARK
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OMS_RECHARGE_MOBILE_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OMS_RECHARGE_MOBILE_FLOW
    where RECHARGE_MOBILE_FOLW_ID = #{rechargeMobileFolwId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OMS_RECHARGE_MOBILE_FLOW
    where RECHARGE_MOBILE_FOLW_ID = #{rechargeMobileFolwId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDOExample">
    delete from OMS_RECHARGE_MOBILE_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDO">
    insert into OMS_RECHARGE_MOBILE_FLOW (RECHARGE_MOBILE_FOLW_ID, CUST_NO, ORDER_SN, 
      RECHARGE_ACCT_NO, SKU_ID, WX_ORDER_ID,
      STATUS, CREATE_TIME, UPDATE_TIME, 
      RECHARGE_REMARK)
    values (#{rechargeMobileFolwId,jdbcType=DECIMAL}, #{custNo,jdbcType=DECIMAL}, #{orderSn,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{skuId,jdbcType=DECIMAL}, #{wxOrderId,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rechargeRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDO">
    insert into OMS_RECHARGE_MOBILE_FLOW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rechargeMobileFolwId != null">
        RECHARGE_MOBILE_FOLW_ID,
      </if>
      <if test="custNo != null">
        CUST_NO,
      </if>
      <if test="orderSn != null">
        ORDER_SN,
      </if>
      <if test="mobile != null">
        RECHARGE_ACCT_NO,
      </if>
      <if test="skuId != null">
        SKU_ID,
      </if>
      <if test="wxOrderId != null">
        WX_ORDER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="rechargeRemark != null">
        RECHARGE_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rechargeMobileFolwId != null">
        #{rechargeMobileFolwId,jdbcType=DECIMAL},
      </if>
      <if test="custNo != null">
        #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="wxOrderId != null">
        #{wxOrderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeRemark != null">
        #{rechargeRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDOExample" resultType="java.lang.Long">
    select count(*) from OMS_RECHARGE_MOBILE_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OMS_RECHARGE_MOBILE_FLOW
    <set>
      <if test="record.rechargeMobileFolwId != null">
        RECHARGE_MOBILE_FOLW_ID = #{record.rechargeMobileFolwId,jdbcType=DECIMAL},
      </if>
      <if test="record.custNo != null">
        CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      </if>
      <if test="record.orderSn != null">
        ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        RECHARGE_ACCT_NO = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null">
        SKU_ID = #{record.skuId,jdbcType=DECIMAL},
      </if>
      <if test="record.wxOrderId != null">
        WX_ORDER_ID = #{record.wxOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rechargeRemark != null">
        RECHARGE_REMARK = #{record.rechargeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OMS_RECHARGE_MOBILE_FLOW
    set RECHARGE_MOBILE_FOLW_ID = #{record.rechargeMobileFolwId,jdbcType=DECIMAL},
      CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      RECHARGE_ACCT_NO = #{record.mobile,jdbcType=VARCHAR},
      SKU_ID = #{record.skuId,jdbcType=DECIMAL},
      WX_ORDER_ID = #{record.wxOrderId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      RECHARGE_REMARK = #{record.rechargeRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDO">
    update OMS_RECHARGE_MOBILE_FLOW
    <set>
      <if test="custNo != null">
        CUST_NO = #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        RECHARGE_ACCT_NO = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        SKU_ID = #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="wxOrderId != null">
        WX_ORDER_ID = #{wxOrderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeRemark != null">
        RECHARGE_REMARK = #{rechargeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where RECHARGE_MOBILE_FOLW_ID = #{rechargeMobileFolwId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.rechargeMobileFlow.RechargeMobileFlowDO">
    update OMS_RECHARGE_MOBILE_FLOW
    set CUST_NO = #{custNo,jdbcType=DECIMAL},
      ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      RECHARGE_ACCT_NO = #{mobile,jdbcType=VARCHAR},
      SKU_ID = #{skuId,jdbcType=DECIMAL},
      WX_ORDER_ID = #{wxOrderId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      RECHARGE_REMARK = #{rechargeRemark,jdbcType=VARCHAR}
    where RECHARGE_MOBILE_FOLW_ID = #{rechargeMobileFolwId,jdbcType=DECIMAL}
  </update>
</mapper>