<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.ods.OdsDOMapper">
  <delete id="deleteOdsOrder" parameterType="java.util.Date">
    delete from ods_oms_order where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <delete id="deleteOdsOrderRefund">
    delete from ods_oms_order_refund  where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <delete id="deleteOdsProduct">
    delete from ods_pms_product where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <delete id="deleteOdsSkuStock">
    delete from ods_pms_sku_stock where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <delete id="deleteOdsCoupon">
    delete from ods_sms_coupon where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <delete id="deleteOdsUserCoupon">
    delete from ods_sms_user_coupon where tx_dt &lt;= to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
  </delete>
  <insert id="insertOdsOrder" parameterType="java.util.Date">
    insert into ods_oms_order  (
ORDER_ID                   ,
 CUST_NO                   ,
 CUST_NAME                 ,
 CUST_MOBILE               ,
 MERCHANT_NO               ,
 MERCHANT_NAME             ,
 ORDER_SN                  ,
 PRODUCT_ID                ,
 PRODUCT_NAME              ,
 PRODUCT_SKU_ID            ,
 PRODUCT_COUNT             ,
 PRODUCT_PRICE             ,
 PRODUCT_CASH              ,
 PRODUCT_INTEGRATION       ,
 CATEGORY_ID_1             ,
 CATEGORY_ID_2             ,
 CATEGORY_ID_3             ,
 CATEGORY_ID_4             ,
 PAY_AMOUNT                ,
 ORDER_CASH                ,
 ORDER_INTEGRATION         ,
 FREIGHT_AMOUNT            ,
 USER_COUPON_ID            ,
 COUPON_TYPE               ,
 COUPON_AMOUNT             ,
 PAY_TYPE                  ,
 STATUS                    ,
 CLOSE_TYPE                ,
 REFUND_STATUS             ,
 PRODUCT_TYPE              ,
 DELIVERY_COMPANY_NAME     ,
 DELIVERY_SN               ,
 RECEIVER_NAME             ,
 RECEIVER_PHONE            ,
 RECEIVER_PROVINCE         ,
 RECEIVER_CITY             ,
 RECEIVER_REGION           ,
 RECEIVER_DETAIL_ADDRESS   ,
 NOTE                      ,
 CONFIRM_STATUS            ,
 INTEGRATION_PAY_FLAG      ,
 PAYMENT_TIME              ,
 DELIVERY_TIME             ,
 RECEIVE_TIME              ,
 RECHARGE_MOBILE           ,
 MOBILE_ADDRESS            ,
 NOTICE_STATUS             ,
 CREATE_TIME               ,
 UPDATE_TIME               ,
 REQ_URL                   ,
 ACCESS_SIGN_ID            ,
 EXCHANGE_COUPON_ID        ,
 RECHARGE_SEQ              ,
 RECHARGE_REMARK           ,
 ORDER_PARAM1              ,
 ORDER_PARAM2              ,
 ORDER_PARAM3              ,
 INTEGRAL_DEDUCT           ,
 TX_DT

)
select
 ORDER_ID                   ,
 CUST_NO                   ,
 CUST_NAME                 ,
 CUST_MOBILE               ,
 MERCHANT_NO               ,
 MERCHANT_NAME             ,
 ORDER_SN                  ,
 PRODUCT_ID                ,
 PRODUCT_NAME              ,
 PRODUCT_SKU_ID            ,
 PRODUCT_COUNT             ,
 PRODUCT_PRICE             ,
 PRODUCT_CASH              ,
 PRODUCT_INTEGRATION       ,
 CATEGORY_ID_1             ,
 CATEGORY_ID_2             ,
 CATEGORY_ID_3             ,
 CATEGORY_ID_4             ,
 PAY_AMOUNT                ,
 ORDER_CASH                ,
 ORDER_INTEGRATION         ,
 FREIGHT_AMOUNT            ,
 USER_COUPON_ID            ,
 COUPON_TYPE               ,
 COUPON_AMOUNT             ,
 PAY_TYPE                  ,
 STATUS                    ,
 CLOSE_TYPE                ,
 REFUND_STATUS             ,
 PRODUCT_TYPE              ,
 DELIVERY_COMPANY_NAME     ,
 DELIVERY_SN               ,
 RECEIVER_NAME             ,
 RECEIVER_PHONE            ,
 RECEIVER_PROVINCE         ,
 RECEIVER_CITY             ,
 RECEIVER_REGION           ,
 replace(RECEIVER_DETAIL_ADDRESS,'|','')   ,
 NOTE                      ,
 CONFIRM_STATUS            ,
 INTEGRATION_PAY_FLAG      ,
 PAYMENT_TIME              ,
 DELIVERY_TIME             ,
 RECEIVE_TIME              ,
 RECHARGE_ACCT_NO           ,
 MOBILE_ADDRESS            ,
 NOTICE_STATUS             ,
 CREATE_TIME               ,
 UPDATE_TIME               ,
 REQ_URL                   ,
 ACCESS_SIGN_ID            ,
 EXCHANGE_COUPON_ID        ,
 RECHARGE_SEQ              ,
 RECHARGE_REMARK           ,
 ORDER_PARAM1              ,
 ORDER_PARAM2              ,
 ORDER_PARAM3              ,
 INTEGRAL_DEDUCT           ,
 to_char(UPDATE_TIME,'yyyy-MM-dd')
 from oms_order t where
 trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertOdsRefundOrder" parameterType="java.util.Date">
    insert into ods_oms_order_refund  (
    REFUND_SERIAL,
    CUST_NO           ,
    CUST_NAME         ,
    CUST_MOBILE       ,
    ORDER_SN          ,
    PRODUCT_ID        ,
    PRODUCT_NAME      ,
    PRODUCT_COUNT     ,
    PRODUCT_SKU_ID    ,
    CATEGORY_ID_1     ,
    CATEGORY_ID_2     ,
    CATEGORY_ID_3     ,
    CATEGORY_ID_4     ,
    ORDER_CASH        ,
    ORDER_INTEGRATION ,
    REFUND_AMOUNT     ,
    REFUND_CASH       ,
    FREIGHT_AMOUNT    ,
    REFUND_INTEGRATION,
    REFUND_STATUS     ,
    PRODUCT_TYPE      ,
    HANDLE_START_TIME ,
    HANDLE_FINISH_TIME,
    HANDLE_RESULT     ,
    REASON            ,
    REFUND_TYPE       ,
    PROOF_PICS        ,
    ADMIN_NAME        ,
    EMAIL             ,
    REFUND_NOTE       ,
    MERCHANT_NO       ,
    MERCHANT_NAME     ,
    CREATE_TIME       ,
    UPDATE_TIME       ,
    COUPON_AMOUNT     ,
    ORDER_REFUND_PARAM1 ,
    ORDER_REFUND_PARAM2 ,
    ORDER_REFUND_PARAM3 ,
    INTEGRAL_DEDUCT     ,
    TX_DT
)
select
    REFUND_SERIAL     ,
    CUST_NO           ,
    CUST_NAME         ,
    CUST_MOBILE       ,
    ORDER_SN          ,
    PRODUCT_ID        ,
    PRODUCT_NAME      ,
    PRODUCT_COUNT     ,
    PRODUCT_SKU_ID    ,
    CATEGORY_ID_1     ,
    CATEGORY_ID_2     ,
    CATEGORY_ID_3     ,
    CATEGORY_ID_4     ,
    ORDER_CASH        ,
    ORDER_INTEGRATION ,
    REFUND_AMOUNT     ,
    REFUND_CASH       ,
    FREIGHT_AMOUNT    ,
    REFUND_INTEGRATION,
    REFUND_STATUS     ,
    PRODUCT_TYPE      ,
    HANDLE_START_TIME ,
    HANDLE_FINISH_TIME,
    HANDLE_RESULT     ,
    REASON            ,
    REFUND_TYPE       ,
    PROOF_PICS        ,
    ADMIN_NAME        ,
    EMAIL             ,
    REFUND_NOTE       ,
    MERCHANT_NO       ,
    MERCHANT_NAME     ,
    CREATE_TIME       ,
    UPDATE_TIME       ,
    COUPON_AMOUNT     ,
    ORDER_REFUND_PARAM1 ,
    ORDER_REFUND_PARAM2 ,
    ORDER_REFUND_PARAM3 ,
    INTEGRAL_DEDUCT     ,
    to_char(UPDATE_TIME,'yyyy-MM-dd')
 from oms_order_refund t where
    trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertOdsSmsCoupon" parameterType="java.util.Date">
        insert into ods_sms_coupon  (
  COUPON_ID          ,
  BATCH_NO           ,
  COUPON_NAME        ,
  COUPON_TYPE        ,
  ALL_TOTAL          ,
  PRODUCT_INTEGRATION,
  COUPON_AMOUNT      ,
  COUPON_DESCRIPTION ,
  PRODUCT_STATUS     ,
  BATCH_STATUS       ,
  PRODUCT_TYPE       ,
  PRODUCT_ID         ,
  PRODUCT_NAME       ,
  PRODUCT_SKU_ID     ,
  FILE_NAME          ,
  FILE_URL           ,
  EXPIRE_DAYS        ,
  EXPIRE_DATE        ,
  START_TIME         ,
  END_TIME           ,
  SEND_TIME          ,
  group_id           ,
  CREATE_TIME        ,
  UPDATE_TIME        ,
  CREATED_BY         ,
  UPDATED_BY         ,
  REL_COUPON_ID      ,
  DISTRIBUTE_WAY     ,
  COUPON_PARAM1      ,
  COUPON_PARAM2      ,
  COUPON_PARAM3      ,
  MAIN_ACTIVITY_ID,
  SUB_ACTIVITY_ID,
  PREFECTURE_ID,
   TX_DT
)
select
COUPON_ID          ,
BATCH_NO           ,
COUPON_NAME        ,
COUPON_TYPE        ,
ALL_TOTAL          ,
PRODUCT_INTEGRATION,
COUPON_AMOUNT      ,
COUPON_DESCRIPTION ,
PRODUCT_STATUS     ,
BATCH_STATUS       ,
PRODUCT_TYPE       ,
PRODUCT_ID         ,
PRODUCT_NAME       ,
PRODUCT_SKU_ID     ,
FILE_NAME          ,
FILE_URL           ,
EXPIRE_DAYS        ,
EXPIRE_DATE        ,
START_TIME         ,
END_TIME           ,
SEND_TIME          ,
group_id           ,
CREATE_TIME        ,
UPDATE_TIME        ,
CREATED_BY         ,
UPDATED_BY         ,
EXCHANGE_COUPON_ID      ,
DISTRIBUTE_WAY     ,
COUPON_PARAM1      ,
COUPON_PARAM2      ,
COUPON_PARAM3      ,
MAIN_ACTIVITY_ID,
SUB_ACTIVITY_ID,
PREFECTURE_ID,
to_char(UPDATE_TIME,'yyyy-MM-dd')
 from sms_coupon t where
 trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertUserCoupon" parameterType="java.util.Date">
        insert into ods_sms_user_coupon  (
        USER_COUPON_ID   ,
        COUPON_TYPE      ,
        ORDER_SN         ,
        CUST_NO          ,
        COUPON_ID        ,
        BATCH_NO         ,
        ORDER_INTEGRATION,
        COUPON_NAME      ,
        STATUS           ,
        CREATE_TIME      ,
        UPDATE_TIME      ,
        EXPIRE_DATE      ,
        USER_COUPON_PARAM1  ,
        USER_COUPON_PARAM2  ,
        USER_COUPON_PARAM3  ,
        TX_DT
)
select
    USER_COUPON_ID   ,
    COUPON_TYPE      ,
    ORDER_SN         ,
    CUST_NO          ,
    COUPON_ID        ,
    BATCH_NO         ,
    ORDER_INTEGRATION,
    COUPON_NAME      ,
    STATUS           ,
    CREATE_TIME      ,
    UPDATE_TIME      ,
    EXPIRE_DATE      ,
    USER_COUPON_PARAM1  ,
    USER_COUPON_PARAM2  ,
    USER_COUPON_PARAM3  ,
   to_char(UPDATE_TIME,'yyyy-MM-dd')
 from sms_user_coupon t where
 trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertProduct" parameterType="java.util.Date">
        insert into ods_pms_product  (
         PRODUCT_ID         ,
         MERCHANT_NO        ,
         MERCHANT_NAME      ,
         MAIL_PIC_URL       ,
         CATEGORY_ID_1      ,
         CATEGORY_ID_2      ,
         CATEGORY_ID_3      ,
         CATEGORY_ID_4      ,
         PUBLISH_STATUS     ,
         PRODUCT_NAME       ,
         PRODUCT_DESCRIPTION,
         FREIGHT_TEMPLATE_ID,
         CREATE_TIME        ,
         UPDATE_TIME        ,
         CREATED_BY         ,
         UPDATED_BY         ,
         PRODUCT_PARAM1     ,
         PRODUCT_PARAM2     ,
         PRODUCT_PARAM3     ,
         IDENTIFICATION,
         TX_DT)
select
     PRODUCT_ID         ,
 MERCHANT_NO        ,
 MERCHANT_NAME      ,
 MAIL_PIC_URL       ,
 CATEGORY_ID_1      ,
 CATEGORY_ID_2      ,
 CATEGORY_ID_3      ,
 CATEGORY_ID_4      ,
 PUBLISH_STATUS     ,
 PRODUCT_NAME       ,
 PRODUCT_DESCRIPTION,
 FREIGHT_TEMPLATE_ID,
 CREATE_TIME        ,
 UPDATE_TIME        ,
 CREATED_BY         ,
 UPDATED_BY         ,
 PRODUCT_PARAM1     ,
 PRODUCT_PARAM2     ,
 PRODUCT_PARAM3     ,
 IDENTIFICATION,
to_char(UPDATE_TIME,'yyyy-MM-dd')
 from pms_product t where
 trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSkuStock" parameterType="java.util.Date">
        insert into  ods_pms_sku_stock (
          PRODUCT_SKU_ID       ,
          PRODUCT_ID           ,
          MARKET_PRICE         ,
          ADVICE_PRICE         ,
          PRODUCT_PRICE        ,
          PRODUCT_CASH         ,
          PRODUCT_INTEGRATION  ,
          PRODUCT_NAME         ,
          PROMOTION_START_TIME ,
          PROMOTION_END_TIME   ,
          PROMOTION_PER_LIMIT  ,
          INTEGRATION_PAY_FLAG ,
          PRODUCT_STOCK        ,
          SKU_PIC_URL          ,
          PRODUCT_LOCK_STOCK   ,
          PRODUCT_SP_DATA      ,
          CREATE_TIME          ,
          UPDATE_TIME          ,
          CREATED_BY           ,
          UPDATED_BY           ,
          STATUS               ,
          GROUP_ID             ,
          SKU_STOCK_PARAM1     ,
          SKU_STOCK_PARAM2     ,
          SKU_STOCK_PARAM3     ,
          MAX_INTEGRAL_DEDUCT      ,
          TX_DT

)
select
      PRODUCT_SKU_ID       ,
  PRODUCT_ID           ,
  MARKET_PRICE         ,
  ADVICE_PRICE         ,
  PRODUCT_PRICE        ,
  PRODUCT_CASH         ,
  PRODUCT_INTEGRATION  ,
  PRODUCT_NAME         ,
  PROMOTION_START_TIME ,
  PROMOTION_END_TIME   ,
  PROMOTION_PER_LIMIT  ,
  INTEGRATION_PAY_FLAG ,
  PRODUCT_STOCK        ,
  SKU_PIC_URL          ,
  PRODUCT_LOCK_STOCK   ,
  PRODUCT_SP_DATA      ,
  CREATE_TIME          ,
  UPDATE_TIME          ,
  CREATED_BY           ,
  UPDATED_BY           ,
  STATUS               ,
  GROUP_ID             ,
  SKU_STOCK_PARAM1     ,
  SKU_STOCK_PARAM2     ,
  SKU_STOCK_PARAM3     ,
  MAX_INTEGRAL_DEDUCT  ,
  to_char(UPDATE_TIME,'yyyy-MM-dd')
 from pms_sku_stock  t where
 trunc(t.UPDATE_TIME) = trunc(#{date,jdbcType=TIMESTAMP})
  </insert>
</mapper>