<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.specificationattribute.SpecificationattributeDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MERCHANT_NO" jdbcType="DECIMAL" property="merchantNo" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="ATTRIBUTE_NAME" jdbcType="VARCHAR" property="attributeName" />
    <result column="ATTRIBUTE_VALUE" jdbcType="VARCHAR" property="attributeValue" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="STATUS" jdbcType="DECIMAL" property="status"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MERCHANT_NO, PARENT_ID, ATTRIBUTE_NAME, ATTRIBUTE_VALUE, CREATE_TIME, UPDATE_TIME, 
    CREATED_BY, UPDATED_BY
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from PMS_SPECIFICATION_ATTRIBUTE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PMS_SPECIFICATION_ATTRIBUTE
    where ID = #{id,jdbcType=DECIMAL}
    <if test="merchantNo != null">
    and MERCHANT_NO =#{merchantNo,jdbcType=DECIMAL}
    </if>
  </select>

  <select id="selectAllList" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PMS_SPECIFICATION_ATTRIBUTE
    where PARENT_ID = 0
    and status = 1
    <if test="merchantNo != null">
    and MERCHANT_NO =#{merchantNo,jdbcType=DECIMAL}
    </if>
    ORDER BY CREATE_TIME DESC
  </select>

  <select id="selectByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PMS_SPECIFICATION_ATTRIBUTE
    where
    PARENT_ID = #{parentId,jdbcType=DECIMAL}
    and
    status = 1
  </select>

  <select id="selectByParentIdAndMerchantNo" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultType="string">
    select
    ATTRIBUTE_NAME
    from PMS_SPECIFICATION_ATTRIBUTE
    where PARENT_ID = #{parentId,jdbcType=DECIMAL} and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
  </select>

  <select id="selectByMerchantNo" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultType="string">
    select
    ATTRIBUTE_NAME
    from PMS_SPECIFICATION_ATTRIBUTE
    where MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PMS_SPECIFICATION_ATTRIBUTE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>

  <delete id="deleteByParentId" parameterType="java.lang.Long">
    delete from PMS_SPECIFICATION_ATTRIBUTE
    where PARENT_ID = #{parentId,jdbcType=DECIMAL}
  </delete>

  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDOExample">
    delete from PMS_SPECIFICATION_ATTRIBUTE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    insert into PMS_SPECIFICATION_ATTRIBUTE (ID, MERCHANT_NO, PARENT_ID, 
      ATTRIBUTE_NAME, ATTRIBUTE_VALUE, CREATE_TIME, 
      UPDATE_TIME, CREATED_BY, UPDATED_BY
      )
    values (#{id,jdbcType=DECIMAL}, #{merchantNo,jdbcType=DECIMAL}, #{parentId,jdbcType=DECIMAL}, 
      #{attributeName,jdbcType=VARCHAR}, #{attributeValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    insert into PMS_SPECIFICATION_ATTRIBUTE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="attributeName != null">
        ATTRIBUTE_NAME,
      </if>
      <if test="attributeValue != null">
        ATTRIBUTE_VALUE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="attributeName != null">
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null">
        #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDOExample" resultType="java.lang.Long">
    select count(*) from PMS_SPECIFICATION_ATTRIBUTE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PMS_SPECIFICATION_ATTRIBUTE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.merchantNo != null">
        MERCHANT_NO = #{record.merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="record.parentId != null">
        PARENT_ID = #{record.parentId,jdbcType=DECIMAL},
      </if>
      <if test="record.attributeName != null">
        ATTRIBUTE_NAME = #{record.attributeName,jdbcType=VARCHAR},
      </if>
      <if test="record.attributeValue != null">
        ATTRIBUTE_VALUE = #{record.attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PMS_SPECIFICATION_ATTRIBUTE
    set ID = #{record.id,jdbcType=DECIMAL},
      MERCHANT_NO = #{record.merchantNo,jdbcType=DECIMAL},
      PARENT_ID = #{record.parentId,jdbcType=DECIMAL},
      ATTRIBUTE_NAME = #{record.attributeName,jdbcType=VARCHAR},
      ATTRIBUTE_VALUE = #{record.attributeValue,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    update PMS_SPECIFICATION_ATTRIBUTE
    <set>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="attributeName != null">
        ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null">
        ATTRIBUTE_VALUE = #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL}
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <update id="updateParentStatusByParentId" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    update PMS_SPECIFICATION_ATTRIBUTE
    <set>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="attributeName != null">
        ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null">
        ATTRIBUTE_VALUE = #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL}
      </if>
    </set>
    where   PARENT_ID = #{id,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
    update PMS_SPECIFICATION_ATTRIBUTE
    set MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      ATTRIBUTE_VALUE = #{attributeValue,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <!-- 根据规格属性名称查询该属性对应商户所有已上架商品的商品属性 -->
  <select id="selectProductSpDataByAttrName" parameterType="java.lang.Long" resultType="java.lang.String">
      select
        PRODUCT_SP_DATA
      from
        PMS_SKU_STOCK pst
        left join PMS_PRODUCT pp on pst.PRODUCT_ID = pp.PRODUCT_ID
        left join PMS_SPECIFICATION_ATTRIBUTE psa on psa.MERCHANT_NO = pp.MERCHANT_NO
      where
        pst.STATUS = 0
        and psa.id = #{id,jdbcType=DECIMAL}
        and (pp.PUBLISH_STATUS = 1 or pp.PUBLISH_STATUS = 2)
  </select>

  <!-- 根据商户号、属性名、父级id查询规格属性 -->
  <select id="selectAttrByMerchantNoPidAttrName" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO">
      select
        ID,
        STATUS
      from
        PMS_SPECIFICATION_ATTRIBUTE
      <where>
        <if test="merchantNo != null">
          and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
        </if>
        <if test="parentId != null">
          and PARENT_ID = #{parentId,jdbcType=DECIMAL}
        </if>
        <if test="attributeName != null and attributeName !=''">
          and ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR}
        </if>
      </where>
  </select>

  <!-- 查询规格属性下对应已上架参数的数量 -->
  <select id="countChildrenByPid" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultType="java.lang.Integer">
    select
      count(1)
    from
      PMS_SPECIFICATION_ATTRIBUTE
    <where>
      PARENT_ID != 0 and STATUS = 1
      <if test="merchantNo != null">
        and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
      </if>
      <if test="parentId != null">
        and PARENT_ID = #{parentId,jdbcType=DECIMAL}
      </if>
    </where>
  </select>

  <!-- 查询当前属性所有已上架的参数名称 -->
  <select id="selectChildrenByPid" parameterType="com.qdbank.mall.model.specificationattribute.SpecificationattributeDO" resultType="string">
    select
      ATTRIBUTE_NAME
    from
      PMS_SPECIFICATION_ATTRIBUTE
    <where>
      PARENT_ID != 0 and STATUS = 1
      <if test="merchantNo != null">
        and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
      </if>
      <if test="parentId != null">
        and PARENT_ID = #{parentId,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
</mapper>