<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.orderrefundreport.OrderRefundreportDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDO">
    <id column="REFUND_SERIAL" jdbcType="VARCHAR" property="refundSerial" />
    <result column="CUST_NO" jdbcType="VARCHAR" property="custNo" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CUST_MOBILE" jdbcType="DECIMAL" property="custMobile" />
    <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
    <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="PRODUCT_COUNT" jdbcType="DECIMAL" property="productCount" />
    <result column="PRODUCT_SKU_ID" jdbcType="DECIMAL" property="productSkuId" />
    <result column="CATEGORY_ID_1" jdbcType="DECIMAL" property="categoryId1" />
    <result column="CATEGORY_ID_2" jdbcType="DECIMAL" property="categoryId2" />
    <result column="CATEGORY_ID_3" jdbcType="DECIMAL" property="categoryId3" />
    <result column="CATEGORY_ID_4" jdbcType="DECIMAL" property="categoryId4" />
    <result column="ORDER_CASH" jdbcType="DECIMAL" property="orderCash" />
    <result column="COUPON_AMOUNT" jdbcType="DECIMAL" property="couponAmount"/>
    <result column="ORDER_INTEGRATION" jdbcType="DECIMAL" property="orderIntegration" />
    <result column="REFUND_AMOUNT" jdbcType="DECIMAL" property="refundAmount" />
    <result column="REFUND_CASH" jdbcType="DECIMAL" property="refundCash" />
    <result column="FREIGHT_AMOUNT" jdbcType="DECIMAL" property="freightAmount" />
    <result column="REFUND_INTEGRATION" jdbcType="DECIMAL" property="refundIntegration" />
    <result column="REFUND_STATUS" jdbcType="DECIMAL" property="refundStatus" />
    <result column="PRODUCT_TYPE" jdbcType="DECIMAL" property="productType" />
    <result column="HANDLE_START_TIME" jdbcType="TIMESTAMP" property="handleStartTime" />
    <result column="HANDLE_FINISH_TIME" jdbcType="TIMESTAMP" property="handleFinishTime" />
    <result column="HANDLE_RESULT" jdbcType="DECIMAL" property="handleResult" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="REFUND_TYPE" jdbcType="DECIMAL" property="refundType" />
    <result column="PROOF_PICS" jdbcType="VARCHAR" property="proofPics" />
    <result column="ADMIN_NAME" jdbcType="VARCHAR" property="adminName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="REFUND_NOTE" jdbcType="VARCHAR" property="refundNote" />
    <result column="MERCHANT_NO" jdbcType="DECIMAL" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="TradeExportResultMap" type="com.qdbank.mall.model.orderreport.OrderTotalReportDO">
    <result column="total" jdbcType="DECIMAL" property="total"/>
    <result column="PRODUCT_PRICE" jdbcType="DECIMAL" property="productPrice" />
    <result column="ORDER_CASH" jdbcType="DECIMAL" property="orderCash" />
    <result column="ORDER_INTEGRATION" jdbcType="DECIMAL" property="orderIntegration" />
    <result column="FREIGHT_AMOUNT" jdbcType="DECIMAL" property="freightAmount" />
    <result column="cashAndFreightAmount" jdbcType="DECIMAL" property="cashAndFreightAmount"/>
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo"/>
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
    <result column="couponCount" jdbcType="DECIMAL" property="couponCount"/>
    <result column="productCouponCount" jdbcType="DECIMAL" property="productCouponCount"/>
    <result column="coupon_type" jdbcType="VARCHAR" property="couponType"/>
    <result column="distributeWay" jdbcType="VARCHAR" property="distributeWay"/>
    <result column="discountAmount" jdbcType="DECIMAL" property="discountAmount"/>
  </resultMap>

  <resultMap id="TradeDetailResultMap" type="com.qdbank.mall.model.orderreport.OrderExportDetailDO">
    <id column="ORDER_ID" jdbcType="DECIMAL" property="orderId" />
    <result column="MERCHANT_NO" jdbcType="DECIMAL" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
    <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId" />
    <result column="PRODUCT_SKU_ID" jdbcType="DECIMAL" property="productSkuId" />
    <result column="PRODUCT_PRICE" jdbcType="DECIMAL" property="productPrice"/>
    <result column="ORDER_CASH" jdbcType="DECIMAL" property="orderCash" />
    <result column="ORDER_INTEGRATION" jdbcType="DECIMAL" property="orderIntegration" />
    <result column="FREIGHT_AMOUNT" jdbcType="DECIMAL" property="freightAmount" />
    <result column="COUPON_TYPE" jdbcType="DECIMAL" property="couponType" />
    <result column="integrationCouponAmount" jdbcType="DECIMAL" property="integrationCouponAmount" />
    <result column="productCouponAmount" jdbcType="DECIMAL" property="productCouponAmount" />
    <result column="integrationPayFlag" jdbcType="DECIMAL" property="integrationPayFlag" />
    <result column="PAYMENT_TIME" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo"/>
    <result column="orderType" jdbcType="VARCHAR" property="orderType"/>
    <result column="cashAndFreightAmount" jdbcType="DECIMAL" property="cashAndFreightAmount"/>
    <result column="discountAmount" jdbcType="DECIMAL" property="discountAmount"/>
  </resultMap>
  <resultMap id="IntegrationCouponResultMap" type="com.qdbank.mall.model.orderreport.IntegrationReportDO">
    <result column="MERCHANT_NO" jdbcType="DECIMAL" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="notNeedPayIntegration" jdbcType="DECIMAL" property="notNeedPayIntegration" />
    <result column="needPayIntegration" jdbcType="DECIMAL" property="needPayIntegration" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="integrationCoupon" />
    <result column="PAYMENT_TIME" jdbcType="TIMESTAMP" property="paymentTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REFUND_SERIAL, CUST_NO, CUST_NAME, CUST_MOBILE, ORDER_SN, PRODUCT_ID, PRODUCT_NAME, 
    PRODUCT_COUNT, PRODUCT_SKU_ID, CATEGORY_ID_1, CATEGORY_ID_2, CATEGORY_ID_3, CATEGORY_ID_4, 
    ORDER_CASH, COUPON_AMOUNT,ORDER_INTEGRATION, REFUND_AMOUNT, REFUND_CASH, FREIGHT_AMOUNT, REFUND_INTEGRATION,
    REFUND_STATUS, PRODUCT_TYPE, HANDLE_START_TIME, HANDLE_FINISH_TIME, HANDLE_RESULT, 
    REASON, REFUND_TYPE, PROOF_PICS, ADMIN_NAME, EMAIL, REFUND_NOTE, MERCHANT_NO,MERCHANT_NAME, CREATE_TIME,
    UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OMS_ORDER_REFUND
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OMS_ORDER_REFUND
    where REFUND_SERIAL = #{refundSerial,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OMS_ORDER_REFUND
    where REFUND_SERIAL = #{refundSerial,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDOExample">
    delete from OMS_ORDER_REFUND
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDO">
    insert into OMS_ORDER_REFUND (REFUND_SERIAL, CUST_NO, CUST_NAME,
      CUST_MOBILE, ORDER_SN, PRODUCT_ID, 
      PRODUCT_NAME, PRODUCT_COUNT, PRODUCT_SKU_ID, 
      CATEGORY_ID_1, CATEGORY_ID_2, CATEGORY_ID_3, 
      CATEGORY_ID_4, ORDER_CASH, ORDER_INTEGRATION, 
      REFUND_AMOUNT, REFUND_CASH, FREIGHT_AMOUNT, 
      REFUND_INTEGRATION, REFUND_STATUS, PRODUCT_TYPE, 
      HANDLE_START_TIME, HANDLE_FINISH_TIME, HANDLE_RESULT, 
      REASON, REFUND_TYPE, PROOF_PICS, 
      ADMIN_NAME, EMAIL, REFUND_NOTE, 
      MERCHANT_NO,MERCHANT_NAME, CREATE_TIME, UPDATE_TIME
      )
    values (#{refundSerial,jdbcType=DECIMAL}, #{custNo,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, 
      #{custMobile,jdbcType=DECIMAL}, #{orderSn,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{productName,jdbcType=VARCHAR}, #{productCount,jdbcType=DECIMAL}, #{productSkuId,jdbcType=DECIMAL}, 
      #{categoryId1,jdbcType=DECIMAL}, #{categoryId2,jdbcType=DECIMAL}, #{categoryId3,jdbcType=DECIMAL}, 
      #{categoryId4,jdbcType=DECIMAL}, #{orderCash,jdbcType=DECIMAL}, #{orderIntegration,jdbcType=DECIMAL}, 
      #{refundAmount,jdbcType=DECIMAL}, #{refundCash,jdbcType=DECIMAL}, #{freightAmount,jdbcType=DECIMAL}, 
      #{refundIntegration,jdbcType=DECIMAL}, #{refundStatus,jdbcType=DECIMAL}, #{productType,jdbcType=DECIMAL}, 
      #{handleStartTime,jdbcType=TIMESTAMP}, #{handleFinishTime,jdbcType=TIMESTAMP}, #{handleResult,jdbcType=DECIMAL},
      #{reason,jdbcType=VARCHAR}, #{refundType,jdbcType=DECIMAL}, #{proofPics,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{refundNote,jdbcType=VARCHAR},
      #{merchantNo,jdbcType=DECIMAL},#{merchantName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDO">
    insert into OMS_ORDER_REFUND_REPORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="refundSerial != null">
        REFUND_SERIAL,
      </if>
      <if test="custNo != null">
        CUST_NO,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="custMobile != null">
        CUST_MOBILE,
      </if>
      <if test="orderSn != null">
        ORDER_SN,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="productCount != null">
        PRODUCT_COUNT,
      </if>
      <if test="productSkuId != null">
        PRODUCT_SKU_ID,
      </if>
      <if test="categoryId1 != null">
        CATEGORY_ID_1,
      </if>
      <if test="categoryId2 != null">
        CATEGORY_ID_2,
      </if>
      <if test="categoryId3 != null">
        CATEGORY_ID_3,
      </if>
      <if test="categoryId4 != null">
        CATEGORY_ID_4,
      </if>
      <if test="orderCash != null">
        ORDER_CASH,
      </if>
      <if test="orderIntegration != null">
        ORDER_INTEGRATION,
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT,
      </if>
      <if test="refundCash != null">
        REFUND_CASH,
      </if>
      <if test="freightAmount != null">
        FREIGHT_AMOUNT,
      </if>
      <if test="refundIntegration != null">
        REFUND_INTEGRATION,
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="handleStartTime != null">
        HANDLE_START_TIME,
      </if>
      <if test="handleFinishTime != null">
        HANDLE_FINISH_TIME,
      </if>
      <if test="handleResult != null">
        HANDLE_RESULT,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="refundType != null">
        REFUND_TYPE,
      </if>
      <if test="proofPics != null">
        PROOF_PICS,
      </if>
      <if test="adminName != null">
        ADMIN_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="refundNote != null">
        REFUND_NOTE,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="refundSerial != null">
        #{refundSerial,jdbcType=DECIMAL},
      </if>
      <if test="custNo != null">
        #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null">
        #{custMobile,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=DECIMAL},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="productSkuId != null">
        #{productSkuId,jdbcType=DECIMAL},
      </if>
      <if test="categoryId1 != null">
        #{categoryId1,jdbcType=DECIMAL},
      </if>
      <if test="categoryId2 != null">
        #{categoryId2,jdbcType=DECIMAL},
      </if>
      <if test="categoryId3 != null">
        #{categoryId3,jdbcType=DECIMAL},
      </if>
      <if test="categoryId4 != null">
        #{categoryId4,jdbcType=DECIMAL},
      </if>
      <if test="orderCash != null">
        #{orderCash,jdbcType=VARCHAR},
      </if>
      <if test="orderIntegration != null">
        #{orderIntegration,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundCash != null">
        #{refundCash,jdbcType=DECIMAL},
      </if>
      <if test="freightAmount != null">
        #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundIntegration != null">
        #{refundIntegration,jdbcType=DECIMAL},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=DECIMAL},
      </if>
      <if test="handleStartTime != null">
        #{handleStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleFinishTime != null">
        #{handleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleResult != null">
        #{handleResult,jdbcType=DECIMAL},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refundType != null">
        #{refundType,jdbcType=DECIMAL},
      </if>
      <if test="proofPics != null">
        #{proofPics,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="refundNote != null">
        #{refundNote,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDOExample" resultType="java.lang.Long">
    select count(*) from OMS_ORDER_REFUND_REPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OMS_ORDER_REFUND_REPORT
    <set>
      <if test="record.refundSerial != null">
        REFUND_SERIAL = #{record.refundSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.custNo != null">
        CUST_NO = #{record.custNo,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null">
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custMobile != null">
        CUST_MOBILE = #{record.custMobile,jdbcType=DECIMAL},
      </if>
      <if test="record.orderSn != null">
        ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      </if>
      <if test="record.productName != null">
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productCount != null">
        PRODUCT_COUNT = #{record.productCount,jdbcType=DECIMAL},
      </if>
      <if test="record.productSkuId != null">
        PRODUCT_SKU_ID = #{record.productSkuId,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryId1 != null">
        CATEGORY_ID_1 = #{record.categoryId1,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryId2 != null">
        CATEGORY_ID_2 = #{record.categoryId2,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryId3 != null">
        CATEGORY_ID_3 = #{record.categoryId3,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryId4 != null">
        CATEGORY_ID_4 = #{record.categoryId4,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCash != null">
        ORDER_CASH = #{record.orderCash,jdbcType=DECIMAL},
      </if>
      <if test="record.orderIntegration != null">
        ORDER_INTEGRATION = #{record.orderIntegration,jdbcType=DECIMAL},
      </if>
      <if test="record.refundAmount != null">
        REFUND_AMOUNT = #{record.refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.refundCash != null">
        REFUND_CASH = #{record.refundCash,jdbcType=DECIMAL},
      </if>
      <if test="record.freightAmount != null">
        FREIGHT_AMOUNT = #{record.freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.refundIntegration != null">
        REFUND_INTEGRATION = #{record.refundIntegration,jdbcType=DECIMAL},
      </if>
      <if test="record.refundStatus != null">
        REFUND_STATUS = #{record.refundStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.productType != null">
        PRODUCT_TYPE = #{record.productType,jdbcType=DECIMAL},
      </if>
      <if test="record.handleStartTime != null">
        HANDLE_START_TIME = #{record.handleStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleFinishTime != null">
        HANDLE_FINISH_TIME = #{record.handleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleResult != null">
        HANDLE_RESULT = #{record.handleResult,jdbcType=DECIMAL},
      </if>
      <if test="record.reason != null">
        REASON = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.refundType != null">
        REFUND_TYPE = #{record.refundType,jdbcType=DECIMAL},
      </if>
      <if test="record.proofPics != null">
        PROOF_PICS = #{record.proofPics,jdbcType=VARCHAR},
      </if>
      <if test="record.adminName != null">
        ADMIN_NAME = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.refundNote != null">
        REFUND_NOTE = #{record.refundNote,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantNo != null">
        MERCHANT_NO = #{record.merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OMS_ORDER_REFUND_REPORT
    set REFUND_SERIAL = #{record.refundSerial,jdbcType=VARCHAR},
      CUST_NO = #{record.custNo,jdbcType=VARCHAR},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CUST_MOBILE = #{record.custMobile,jdbcType=DECIMAL},
      ORDER_SN = #{record.orderSn,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      PRODUCT_COUNT = #{record.productCount,jdbcType=DECIMAL},
      PRODUCT_SKU_ID = #{record.productSkuId,jdbcType=DECIMAL},
      CATEGORY_ID_1 = #{record.categoryId1,jdbcType=DECIMAL},
      CATEGORY_ID_2 = #{record.categoryId2,jdbcType=DECIMAL},
      CATEGORY_ID_3 = #{record.categoryId3,jdbcType=DECIMAL},
      CATEGORY_ID_4 = #{record.categoryId4,jdbcType=DECIMAL},
      ORDER_CASH = #{record.orderCash,jdbcType=DECIMAL},
      ORDER_INTEGRATION = #{record.orderIntegration,jdbcType=DECIMAL},
      REFUND_AMOUNT = #{record.refundAmount,jdbcType=DECIMAL},
      REFUND_CASH = #{record.refundCash,jdbcType=DECIMAL},
      FREIGHT_AMOUNT = #{record.freightAmount,jdbcType=DECIMAL},
      REFUND_INTEGRATION = #{record.refundIntegration,jdbcType=DECIMAL},
      REFUND_STATUS = #{record.refundStatus,jdbcType=DECIMAL},
      PRODUCT_TYPE = #{record.productType,jdbcType=DECIMAL},
      HANDLE_START_TIME = #{record.handleStartTime,jdbcType=TIMESTAMP},
      HANDLE_FINISH_TIME = #{record.handleFinishTime,jdbcType=TIMESTAMP},
      HANDLE_RESULT = #{record.handleResult,jdbcType=DECIMAL},
      REASON = #{record.reason,jdbcType=VARCHAR},
      REFUND_TYPE = #{record.refundType,jdbcType=DECIMAL},
      PROOF_PICS = #{record.proofPics,jdbcType=VARCHAR},
      ADMIN_NAME = #{record.adminName,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      REFUND_NOTE = #{record.refundNote,jdbcType=VARCHAR},
      MERCHANT_NO = #{record.merchantNo,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDO">
    update OMS_ORDER_REFUND_REPORT
    <set>
      <if test="custNo != null">
        CUST_NO = #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null">
        CUST_MOBILE = #{custMobile,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null">
        ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        PRODUCT_COUNT = #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="productSkuId != null">
        PRODUCT_SKU_ID = #{productSkuId,jdbcType=DECIMAL},
      </if>
      <if test="categoryId1 != null">
        CATEGORY_ID_1 = #{categoryId1,jdbcType=DECIMAL},
      </if>
      <if test="categoryId2 != null">
        CATEGORY_ID_2 = #{categoryId2,jdbcType=DECIMAL},
      </if>
      <if test="categoryId3 != null">
        CATEGORY_ID_3 = #{categoryId3,jdbcType=DECIMAL},
      </if>
      <if test="categoryId4 != null">
        CATEGORY_ID_4 = #{categoryId4,jdbcType=DECIMAL},
      </if>
      <if test="orderCash != null">
        ORDER_CASH = #{orderCash,jdbcType=DECIMAL},
      </if>
      <if test="orderIntegration != null">
        ORDER_INTEGRATION = #{orderIntegration,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundCash != null">
        REFUND_CASH = #{refundCash,jdbcType=DECIMAL},
      </if>
      <if test="freightAmount != null">
        FREIGHT_AMOUNT = #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundIntegration != null">
        REFUND_INTEGRATION = #{refundIntegration,jdbcType=DECIMAL},
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS = #{refundStatus,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        PRODUCT_TYPE = #{productType,jdbcType=DECIMAL},
      </if>
      <if test="handleStartTime != null">
        HANDLE_START_TIME = #{handleStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleFinishTime != null">
        HANDLE_FINISH_TIME = #{handleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleResult != null">
        HANDLE_RESULT = #{handleResult,jdbcType=DECIMAL},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refundType != null">
        REFUND_TYPE = #{refundType,jdbcType=DECIMAL},
      </if>
      <if test="proofPics != null">
        PROOF_PICS = #{proofPics,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="refundNote != null">
        REFUND_NOTE = #{refundNote,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where REFUND_SERIAL = #{refundSerial,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.orderrefundreport.OrderRefundreportDO">
    update OMS_ORDER_REFUND_REPORT
    set CUST_NO = #{custNo,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      CUST_MOBILE = #{custMobile,jdbcType=DECIMAL},
      ORDER_SN = #{orderSn,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_COUNT = #{productCount,jdbcType=DECIMAL},
      PRODUCT_SKU_ID = #{productSkuId,jdbcType=DECIMAL},
      CATEGORY_ID_1 = #{categoryId1,jdbcType=DECIMAL},
      CATEGORY_ID_2 = #{categoryId2,jdbcType=DECIMAL},
      CATEGORY_ID_3 = #{categoryId3,jdbcType=DECIMAL},
      CATEGORY_ID_4 = #{categoryId4,jdbcType=DECIMAL},
      ORDER_CASH = #{orderCash,jdbcType=DECIMAL},
      ORDER_INTEGRATION = #{orderIntegration,jdbcType=DECIMAL},
      REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      REFUND_CASH = #{refundCash,jdbcType=DECIMAL},
      FREIGHT_AMOUNT = #{freightAmount,jdbcType=DECIMAL},
      REFUND_INTEGRATION = #{refundIntegration,jdbcType=DECIMAL},
      REFUND_STATUS = #{refundStatus,jdbcType=DECIMAL},
      PRODUCT_TYPE = #{productType,jdbcType=DECIMAL},
      HANDLE_START_TIME = #{handleStartTime,jdbcType=TIMESTAMP},
      HANDLE_FINISH_TIME = #{handleFinishTime,jdbcType=TIMESTAMP},
      HANDLE_RESULT = #{handleResult,jdbcType=DECIMAL},
      REASON = #{reason,jdbcType=VARCHAR},
      REFUND_TYPE = #{refundType,jdbcType=DECIMAL},
      PROOF_PICS = #{proofPics,jdbcType=VARCHAR},
      ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      REFUND_NOTE = #{refundNote,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where REFUND_SERIAL = #{refundSerial,jdbcType=VARCHAR}
  </update>
  <select id="selectOrderMerchantNos" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO"  resultType="java.lang.Long">
    select distinct o.merchant_no from OMS_ORDER_REFUND o
    where
    o.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
    o.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    <if test="merchantNo != null">
      and o.MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
    </if>
  </select>
  <select id="selectTradeTotal" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO" resultMap="TradeExportResultMap">
select
  count(1) as total,
  merchant_no,
  sum(product_price) as product_price,
  sum(order_cash) as order_cash,
  sum(freight_amount) as freight_amount,
  sum(order_integration) as order_integration,
  sum(cashAndFreightAmount) as cashAndFreightAmount,
  coupon_type,
    distributeWay,
    sum(nvl(coupon_amount,0)) as couponCount,
    sum(nvl(discount_amount,0)) as discountAmount
from
    (select
        o.merchant_no,
        nvl(r.product_price * r.PRODUCT_COUNT,0) product_price,
        case
        when o.REFUND_CASH = o.ORDER_CASH then 0
        else nvl(o.FREIGHT_AMOUNT,0)
        end as FREIGHT_AMOUNT,
        case
        when o.REFUND_CASH &gt; o.ORDER_CASH then  nvl(o.REFUND_CASH - o.FREIGHT_AMOUNT,0)
        else  o.REFUND_CASH
        end as ORDER_CASH,
        nvl(o.REFUND_INTEGRATION,0) order_integration,
        nvl(o.REFUND_CASH,0) cashAndFreightAmount,
        r.coupon_type coupon_type,
         case when  coupon.BATCH_NO is not null then '1'
              when r.coupon_type is not null then '0' else null end distributeWay,
         nvl(r.coupon_amount,0) coupon_amount,
         nvl(r.discount_amount,0) discount_amount
    from
        OMS_ORDER_REFUND o
        left join OMS_ORDER r on o.ORDER_SN = r.ORDER_SN left join SMS_USER_COUPON coupon on r.USER_COUPON_ID=coupon.USER_COUPON_ID
    where
        o.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
        o.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    and
        o.MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL})

group by MERCHANT_NO,coupon_type,distributeWay
  </select>

  <select id="selectCouponAmount" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO" resultType="decimal" >
    select
      sum(nvl(r.COUPON_AMOUNT,0)) as couponAmount
    from
      OMS_ORDER_REFUND o left  join  OMS_ORDER r on o.ORDER_SN = r.ORDER_SN
    where
     o.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
     o.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    and
     r.COUPON_TYPE = #{couponType,jdbcType=DECIMAL}
    and
     o.MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
  </select>

  <select id="selectOrderIntegration" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO" resultType="java.lang.Long">
     select
      sum(nvl(ORDER_INTEGRATION,0)) as orderIntegration
    from
      OMS_ORDER_REFUND
    where
     HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
     HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    and MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}

  </select>

  <select id="selectTradeDetail" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO" resultMap="TradeDetailResultMap">
    select
    t.REFUND_SERIAL as ORDER_ID,
    t.ORDER_SN,
    r.PRODUCT_ID,
    r.PRODUCT_SKU_ID,
    nvl(r.PRODUCT_PRICE  * r.PRODUCT_COUNT,0) AS PRODUCT_PRICE,
    nvl(r.COUPON_AMOUNT,0) as integrationCouponAmount,
    case
    when r.INTEGRATION_PAY_FLAG = 0 then '否'
    else '是'
    end as integrationPayFlag,
    case
    when t.REFUND_CASH = t.ORDER_CASH then 0
    else nvl(t.FREIGHT_AMOUNT,0)
    end as FREIGHT_AMOUNT,
    case
    when t.REFUND_CASH &gt; t.ORDER_CASH then  nvl(t.REFUND_CASH - t.FREIGHT_AMOUNT,0)
    else  t.REFUND_CASH
    end as ORDER_CASH,
    nvl(t.REFUND_INTEGRATION,0) as ORDER_INTEGRATION,
    nvl(t.REFUND_CASH,0)  as cashAndFreightAmount,
    t.HANDLE_FINISH_TIME as PAYMENT_TIME,
    s.BATCH_NO,
    '退款订单' as orderType,
    t.MERCHANT_NO ,
    m.MERCHANT_NAME,
    r.coupon_type,
    nvl(r.discount_amount,0) discountAmount
    from
    OMS_ORDER_REFUND t left join OMS_ORDER r on t.ORDER_SN = r.ORDER_SN
    left join sms_user_coupon s on r.user_coupon_id = s.user_coupon_id
    left join ums_merchant m  on t.MERCHANT_NO = m.MERCHANT_NO
    where
    t.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
    t.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    <if test="merchantNo != null">
      and t.MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
    </if>

  </select>

  <select id="selectIntegrationCoupon" parameterType="com.qdbank.mall.model.orderreport.TradeMerchantInfoDO" resultMap="IntegrationCouponResultMap">
    select
    t.merchant_no,
    sum (nvl(t.notNeedPayIntegration/100,0)) as notNeedPayIntegration,
    sum(nvl(t.needPayIntegration/100,0)) as needPayIntegration ,
    sum(nvl(t.coupon_amount,0)) as coupon_amount
    from(
      select
      r.HANDLE_FINISH_TIME,
      o.merchant_no,
      case
      when
      o.integration_pay_flag = 0 then nvl(r.REFUND_INTEGRATION,0)
      end as notNeedPayIntegration,
      case
      when
      o.integration_pay_flag = 1 then nvl(r.REFUND_INTEGRATION,0)
      end as needPayIntegration,
      case
        when
            o.coupon_type = 0 and s.BATCH_NO is null then nvl(o.coupon_amount,0)
      end as coupon_amount
      from OMS_ORDER_REFUND r
      left join oms_order o  on o.ORDER_SN = r.ORDER_SN
      left join ums_merchant m  on o.MERCHANT_NO = m.MERCHANT_NO
      left join SMS_USER_COUPON s on o.USER_COUPON_ID = s.USER_COUPON_ID
      where
         r.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
      and
         r.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
     and o.merchant_no = #{merchantNo,jdbcType=DECIMAL})t
    group by merchant_no
  </select>
  <select id="selectIntegrationMerchantInfo" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO"  resultType="com.qdbank.mall.model.orderreport.TradeMerchantInfoDO">
    select distinct
    o.merchant_no as merchantNo
    from OMS_ORDER_REFUND o left join OMS_ORDER r on r.ORDER_SN = o.ORDER_SN
    where
    o.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
    o.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    <if test="merchantNo != null">
      and o.MERCHANT_NO = #{merchantNo,jdbcType=DECIMAL}
    </if>
    <if test="couponType != null">
      and r.COUPON_TYPE = #{couponType,jdbcType=DECIMAL}
    </if>
    group by o.merchant_no order by  o.merchant_no
  </select>

  <select id="selectCouponMerchantInfo" parameterType="com.qdbank.mall.model.orderreport.OrderReportExportDO"  resultType="com.qdbank.mall.model.orderreport.TradeMerchantInfoDO">
    select distinct
    o.merchant_no as merchantNo,
    r.COUPON_TYPE as couponType,
    s.batch_no as batchNo
    from OMS_ORDER_REFUND o left join OMS_ORDER r on r.ORDER_SN = o.ORDER_SN
    left join SMS_USER_COUPON s on r.user_coupon_id = s.user_coupon_id
    where
    o.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
    and
    o.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
    and s.batch_no is not null
  </select>

  <select id="selectProductCoupon" parameterType="com.qdbank.mall.model.orderreport.TradeMerchantInfoDO" resultMap="com.qdbank.mall.mapper.orderreport.OrderReportDOMapper.ProductCouponResultMap">
    select
    t.merchant_no,
    t.BATCH_NO,
    t.COUPON_NAME,
    sum(nvl(t.coupon_amount,0)) as coupon_amount,
    t.coupon_type
    from(
      select
      r.HANDLE_FINISH_TIME,
      o.merchant_no,
      s.BATCH_NO,
      s.COUPON_NAME,
      o.coupon_amount,
      o.coupon_type
      from  OMS_ORDER_REFUND r
      left join oms_order o on r.ORDER_SN = o.ORDER_SN
      left join ums_merchant m  on o.MERCHANT_NO = m.MERCHANT_NO
      left join sms_user_coupon s on o.USER_COUPON_ID = s.USER_COUPON_ID
      where
      r.HANDLE_FINISH_TIME &gt;= #{startDate,jdbcType=TIMESTAMP}
      and
      r.HANDLE_FINISH_TIME &lt; #{endDate,jdbcType=TIMESTAMP}
      and o.merchant_no = #{merchantNo,jdbcType=DECIMAL}
      and o.coupon_type = #{couponType,jdbcType=DECIMAL}
      and  s.BATCH_NO = #{batchNo,jdbcType=DECIMAL}
      )t
    group by merchant_no,BATCH_NO,COUPON_NAME,coupon_type
  </select>


</mapper>