<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdbank.mall.mapper.rechargeMobile.RechargeMobileDOMapper">
  <resultMap id="BaseResultMap" type="com.qdbank.mall.model.rechargeMobile.RechargeMobileDO">
    <id column="RECHARGE_MOBILE_ID" jdbcType="DECIMAL" property="rechargeMobileId" />
    <result column="CUST_NO" jdbcType="DECIMAL" property="custNo" />
    <result column="MOBILE" jdbcType="DECIMAL" property="mobile" />
    <result column="SKU_ID" jdbcType="DECIMAL" property="skuId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="MOBILE_ADDRESS" jdbcType="VARCHAR" property="mobileAddress" />
    <result column="SUPPLIER_TYPE" jdbcType="VARCHAR" property="supplierType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECHARGE_MOBILE_ID, CUST_NO, MOBILE, SKU_ID, CREATE_TIME, UPDATE_TIME, MOBILE_ADDRESS, 
    SUPPLIER_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OMS_RECHARGE_MOBILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OMS_RECHARGE_MOBILE
    where RECHARGE_MOBILE_ID = #{rechargeMobileId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OMS_RECHARGE_MOBILE
    where RECHARGE_MOBILE_ID = #{rechargeMobileId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDOExample">
    delete from OMS_RECHARGE_MOBILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDO">
    insert into OMS_RECHARGE_MOBILE (RECHARGE_MOBILE_ID, CUST_NO, MOBILE, 
      SKU_ID, CREATE_TIME, UPDATE_TIME, 
      MOBILE_ADDRESS, SUPPLIER_TYPE)
    values (#{rechargeMobileId,jdbcType=DECIMAL}, #{custNo,jdbcType=DECIMAL}, #{mobile,jdbcType=DECIMAL}, 
      #{skuId,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{mobileAddress,jdbcType=VARCHAR}, #{supplierType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDO">
    insert into OMS_RECHARGE_MOBILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rechargeMobileId != null">
        RECHARGE_MOBILE_ID,
      </if>
      <if test="custNo != null">
        CUST_NO,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="skuId != null">
        SKU_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="mobileAddress != null">
        MOBILE_ADDRESS,
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rechargeMobileId != null">
        #{rechargeMobileId,jdbcType=DECIMAL},
      </if>
      <if test="custNo != null">
        #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=DECIMAL},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileAddress != null">
        #{mobileAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        #{supplierType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDOExample" resultType="java.lang.Long">
    select count(*) from OMS_RECHARGE_MOBILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OMS_RECHARGE_MOBILE
    <set>
      <if test="record.rechargeMobileId != null">
        RECHARGE_MOBILE_ID = #{record.rechargeMobileId,jdbcType=DECIMAL},
      </if>
      <if test="record.custNo != null">
        CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=DECIMAL},
      </if>
      <if test="record.skuId != null">
        SKU_ID = #{record.skuId,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mobileAddress != null">
        MOBILE_ADDRESS = #{record.mobileAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierType != null">
        SUPPLIER_TYPE = #{record.supplierType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OMS_RECHARGE_MOBILE
    set RECHARGE_MOBILE_ID = #{record.rechargeMobileId,jdbcType=DECIMAL},
      CUST_NO = #{record.custNo,jdbcType=DECIMAL},
      MOBILE = #{record.mobile,jdbcType=DECIMAL},
      SKU_ID = #{record.skuId,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      MOBILE_ADDRESS = #{record.mobileAddress,jdbcType=VARCHAR},
      SUPPLIER_TYPE = #{record.supplierType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDO">
    update OMS_RECHARGE_MOBILE
    <set>
      <if test="custNo != null">
        CUST_NO = #{custNo,jdbcType=DECIMAL},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=DECIMAL},
      </if>
      <if test="skuId != null">
        SKU_ID = #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileAddress != null">
        MOBILE_ADDRESS = #{mobileAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR},
      </if>
    </set>
    where RECHARGE_MOBILE_ID = #{rechargeMobileId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdbank.mall.model.rechargeMobile.RechargeMobileDO">
    update OMS_RECHARGE_MOBILE
    set CUST_NO = #{custNo,jdbcType=DECIMAL},
      MOBILE = #{mobile,jdbcType=DECIMAL},
      SKU_ID = #{skuId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      MOBILE_ADDRESS = #{mobileAddress,jdbcType=VARCHAR},
      SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR}
    where RECHARGE_MOBILE_ID = #{rechargeMobileId,jdbcType=DECIMAL}
  </update>
</mapper>